:root {
    --form-control-color: rebeccapurple;
    --form-control-disabled: #959495;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body{
    background-color: #111016;
}

.container{
    color: #fff;
    width: 30rem;
    margin: 1rem auto;
}

.container .top{
    color: #807c92;
    text-align: center;
    padding: 1.5rem;
    font-weight: 700;
}
.passDisplay {
    background-color: #24232B;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
#passResult{
    color: orange;
}


/* ===================== bottom side ==================== */
.bottom {
    background-color: #24232B;
    padding: 1.5rem;

}
.lenght{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.rangebar input{
    width: 100%;
    margin-bottom: 1.5rem;
}

.checboxes{
    margin-bottom: 1.5rem;
}

.checboxes ul {
    list-style: none;
    line-height: 2rem;
}

.checkoxes li{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 10px;

}

.strength{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191820;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
}

.strength h5{
    color: #A3FFAE;
}

.strength .difBars{
    display: flex;
    gap: .5rem;
    list-style: none;
}

.strength .right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.strength .difBars li {
    border: 1px solid #fff;
    width: 10px;
    height: 30px;
}


/* generate */
#generateBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #A3FFAE;
    color: #000 ;
    font-weight: 300;
    padding: 1.2rem;
    width: 100%;
    border: 1px solid  #000;
    outline: none;
    transition: all .4s;
}
#generateBtn:hover{
    background-color: #000;
    border: 1px solid #A3FFAE;
    color:  #A3FFAE;
    transition: all .4s;
    cursor: pointer;
}

/* ===================== bottom side ==================== */


.char-text h3{
    color:orange;
}

#clipboard,#rangeValue{
    color: #A3FFAE;
}
#clipboard{
    cursor: pointer;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    border: 2px solid #A3FFAE;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #000;
    border-color: orange;
}


input[type="checkbox"]:checked::before {
    content: '\2713'; 
    font-size: 20px; 
    color: orange; 
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Custom styling for input range */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #A3FFAE;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
  }
  
  input[type="range"]:hover {
    opacity: 1;
  }
  
  /* Adjust the range thumb style */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background:  #A3FFAE;
    border: 2px solid #000;
    cursor: pointer;
    margin-top: -8px;
  }

  input[type="range"]:hover::-webkit-slider-thumb{
    background:  #000;
    border: 2px solid #A3FFAE;
  }
  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;

  }
  
  /* Adjust the range track style */
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1rem;
    cursor: pointer;
    background: linear-gradient(to right, #A3FFAE, red);
    border-radius: 5px;
    border: 1px solid #A3FFAE;
  }
  
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: linear-gradient(to right, #A3FFAE, red);
    border-radius: 5px;
    border: 1px solid #A3FFAE;
  }
  
  /* Adjust the range progress style (for WebKit browsers) */
  input[type="range"]::-webkit-progress-value {
    background: linear-gradient(to right, #A3FFAE, #000);
  }